.title_16 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: -1%;
}

.title_24 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
}

.title_72 {
    font-size: 4.5rem;
    line-height: 5.446rem;
    font-weight: 800;
    letter-spacing: -1%;
}